<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AI Class</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" rel="stylesheet">

    <link href="./assets/css/fontawesome-all.min.css " rel="stylesheet" type="text/css">
    <link href="./assets/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="./assets/css/scroll.css" rel="stylesheet">
    <link href="./assets/css/rating.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top">

                    <!-- Topbar Search -->
                    <form action="/search" method ="GET"
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form  action="/search" method ="GET" class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    來自 AI 的呼喚
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-info">
                                            <i class="fa-regular fa-hand-peace"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">May 20, 2022</div>
                                        <span class="font-weight-bold">今天想看部好電影嗎？肚子餓了想吃牛排嗎？</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fa-regular fa-calendar-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">May 17, 2022</div>
                                        Somehow, someday 課程就結束了
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fa-solid fa-skull-crossbones"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">May 16, 2022</div>
                                        Better call Eason!
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All</a>
                            </div>

                        </li>

                    </ul>
                    <!-- Sidebar Toggle (Topbar) -->
                    <div>
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid ">

                    <!-- Page Heading -->

                    <div id="mycontent" class="container-fluid">

                        <div class="d-inline-flex mt-4">
                                <div class="poster-lg card scroll-card card-img-top">
                                    <img class="poster" src= /Flask/homepage/img/AIClass.png alt="">
                                    <a href="#" class="stretched-link"></a> 
                                </div>
                                <div class="ml-5" id="details">
                                    <br/>
                                        <h2 id="title">Issac</h2>
                                        <br>
                                        <h6 id="overview">
                                            簡介:
                                            <br>
                                            <br />
                                            issac iassc casis
                                            <br>
                                            miles leims smile
                                            <br>
                                            eason sonae nosea

                                        </h6>
                                        <h6 id="vote_average">評分: &nbsp;5 / 5</h6>
                                        <h6 id="genres">類型: &nbsp;遠端聲優</h6>
                                        <h6 id="date">上映日期: &nbsp;2022</h6>
                                        <h6 id="runtime">片長: &nbsp;3 個月</h6>
                                        <h6 id="status">是否已發行: &nbsp;發行中</h6>

                                        <form action="/star" method="GET">
                                            <br>
                                            <span>你的評分：</span>
                                            <div class="rating p-4 mb-4 flex-column">
                                                <input type="radio" id="star5" name="rating" value="5" hidden/>
                                                <label for="star5"></label>
                                                <input type="radio" id="star4" name="rating" value="4" hidden/>
                                                <label for="star4"></label>
                                                <input type="radio" id="star3" name="rating" value="3" hidden/>
                                                <label for="star3"></label>
                                                <input type="radio" id="star2" name="rating" value="2" hidden/>
                                                <label for="star2"></label>
                                                <input type="radio" id="star1" name="rating" value="1" hidden/>
                                                <label for="star1"></label>
                                            </div>
                        
                                        </form>
                                </div>
                            
                        </div>
                        

                        <!--換行 -->
                        <div class="my-2"></div>
                
                        <form action="/comment" method="GET">
                            <div class="preference p-4 mb-4" id="preference">
                                <div class="button">

                                    <div class="btn btn-primary btn-icon-split mr-2" id="watched">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                                        <span class="text">已看過了嗎？</span>
                                    </div>
    
                                    <div class="btn btn-info btn-icon-split mr-2" id="mylist">
                                        <span class="icon text-white-50">
                                            <i class="fa-solid fa-plus"></i>
                                        </span>
                                        <span class="text">加到我的片單</span>
                                    </div>
                                    
                                    <div class="btn btn-warning btn-icon-split mr-2" id="save">
                                        <span class="icon text-white-50">
                                            <i class="fa-solid fa-bookmark"></i>
                                        </span>
                                        <span class="text">新增至待觀看</span>
                                    </div>

                                </div class="d-inline-flex">
                                
                                <div class="input-group mt-4 mb-4 d-inline-flex">
                                    <input type="text" class="form-control" placeholder="留下評價" aria-label="comment" aria-describedby="basic-addon2">
                                    <div class="input-group-append" >
                                    <button class="btn btn-outline-secondary" type="button">提交</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>

<!--                 
                {% if movie_cards|length > 1 %}

                    <div class="movie">
                    <h1 class="h3 ml-4 mt-5 mb-4 text-gray-800">專屬於你的推薦</h1>
                    </div>
            
                    <div class="ml-4 movie-content scroll-wrap">
                    {% for poster, details in movie_cards.items() if not movie_cards.hidden %}
                        <div class="card card-group" style="width: 14rem;" title="{{details[1]}}" onclick="recommendcard(this)">
                        <div class="imghvr card scroll-card">
                            <img class="card-img-top" height="360" width="240" alt="{{details[0]}} - poster" src={{poster}}>
                            <div class="card-img-overlay" >
                            <span class="card-text" style="font-size:15px;background: #000000b8;color:white;padding:2px 5px;border-radius: 10px;"><span class="fa fa-star checked">&nbsp; {{details[2]}}/10</span></span>
                            </div>
                            <div class=".card-img-overlay" style="position: relative;">
                            <span class="card-text" style="font-size:15px;position:absolute;bottom:20px;left:15px;background: #000000b8;color:white;padding: 5px;border-radius: 10px;">{{details[3]}}</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" style="font-family: 'Rowdies', cursive;font-size: 17px;">{{details[0]|upper}}</h5>
                        </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %} -->






                <!-- /.container-fluid -->


                
                <!-- Movie Recommendation -->







            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; TUDUM 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="indexuser.html">
                <div class="sidebar-brand-text mx-3">TUDUM</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div>
                        <img class="img-profile rounded-circle"
                        src="img/undraw_profile.svg">
                    </div>
                    <div class="mr-2 d-none d-lg-inline text-gray-100 small">{{username}}</div>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="watched.html">
                    <div class="user-list">
                        <span>我看過的電影</span>
                        <h3>{{movie}}</h3>
                    </div>
                </a>
                
                <a class="nav-link" href="comment.html">
                    <div class="user-list">
                        <span>我的評論</span>
                        <h3>{{comment}}</h3>
                    </div>
                </a>

                <a class="nav-link" href="list.html">
                    <div class="user-list">
                        <span>我的片單</span>
                        <h3>{{list}}</h3>
                    </div>
                </a>

                <a class="nav-link" href="towatched.html">
                    <div class="user-list">
                        <span>待觀看</span>
                        <h3>{{save}}</h3>
                    </div>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

        </ul>
        <!-- End of Sidebar -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="./assets/js/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="./assets/js/sb-admin-2.min.js"></script>
    <script src="./assets/js/scroll.js"> </script>


</body>

</html>