<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{nickname}}的個人首頁</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link href="./assets/css/fontawesome-all copy.min.css " rel="stylesheet" type="text/css">
    <link href="./assets/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/font-awesome-all.min.css">

    <link rel="stylesheet" href="./assets/css/scroll.css">
    
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top">

                    

                    <!-- Topbar Search -->
                    <form action="/search" method ="GET"
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form action="/search" method ="GET class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    來自 AI 的呼喚
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-info">
                                            <i class="fa-regular fa-hand-peace"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">May 20, 2022</div>
                                        <span class="font-weight-bold">今天想看部好電影嗎？肚子餓了想吃牛排嗎？</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fa-regular fa-calendar-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">May 17, 2022</div>
                                        Somehow, someday 課程就結束了
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fa-solid fa-skull-crossbones"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">May 16, 2022</div>
                                        Better call Eason!
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All</a>
                            </div>
                        </li>

                    </ul>
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid" style="overflow-y: visible">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mt-4 ml-1 mb-0 text-gray-800">今天想看部好電影嗎？</h1>
                    </div>
                    <div class="card quote mb-4">
                        <!-- <div class="card-header">
                          那些電影教我的事...
                        </div> -->
                        <div class="card-body">
                          <blockquote class="blockquote mb-0">
                            <span>遺憾有很多樣子：不敢愛的人，來不及說的話，和不夠努力的曾經。</span>
                            <footer class="blockquote-footer">那些電影教我的事・<cite title="Source Title"><a href="#" class="text-black fw-bold">《奇異博士2：失控多重宇宙, 2022》</a></cite></footer>
                          </blockquote>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3 mb-4">
                        <div class="movie-scroller rowContainer" id = movie-scroller>
                            <h1 class="h3 ml-4 mt-5 mb-4 text-gray-800">專屬於你的推薦</h1>
                                <div class="container-fluid">
                                    <div class="scroll-wrap">
                                        <div class="card-group">
                                            <div class="card scroll-card">
                                                <img src="https://www.themoviedb.org/t/p/w1280/mejVAFgO9oJ3h9UpzuEmTbN5HYz.jpg" alt="">
                                                <a href="#" class="stretched-link"></a>
                                                <h6>青春養成記</h6>
                                
                                                <p>2022</p>
                                            </div>
                                        </div>
                                        <div class="card-group">
                                            <div class=" card scroll-card">
                                                <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/wkqmijunK0dyhSBzuBMSdGy8xLA.jpg" alt="">
                                                <a href="movie1.html" class="stretched-link"></a>
                                                <h6>哈利波特：混血王子的背叛</h6>
                                                <p>2009</p>
                                            </div>
                                        </div>
                                        <div class="card-group">
                                            <div class="card scroll-card">
                                                <img src="https://www.themoviedb.org/t/p/w1280/qFmwhVUoUSXjkKRmca5yGDEXBIj.jpg" alt="">
                                                <a href="#" class="stretched-link"></a>
                                                <h6>蜘蛛人3</h6>
                                                <p>2007</p>
                                            </div>
                                        </div>
                                        <div class="card-group">
                                            <div class="card scroll-card">
                                                <img src="https://www.themoviedb.org/t/p/w1280/74xTEgt7R36Fpooo50r9T25onhq.jpg" alt="">
                                                <a href="#" class="stretched-link"></a>
                                                <h6>蝙蝠俠</h6>
                                                <p>2022</p>
                                            </div>
                                        </div>
                                        <div class="card-group">
                                            <div class="card scroll-card">
                                                <img src="https://www.themoviedb.org/t/p/w1280/eWdyYQreja6JGCzqHWXpWHDrrPo.jpg" alt="">
                                                <a href="#" class="stretched-link"></a>
                                                <h6>歡迎來到布達佩斯大飯店</h6>
                                                <p>2014</p>
                                            </div>
                                        </div>
                                        <div class="card-group">
                                            <div class="card scroll-card">
                                                <img src="https://www.themoviedb.org/t/p/w1280/iO1bilpfOq49s7eJ7mIAZ1gsi7f.jpg" alt="">
                                                <a href="#" class="stretched-link"></a>
                                                <h6>神鬼奇航3：世界的盡頭</h6>
                                                <p>2007</p>
                                            </div>
                                        </div>
                                        <div class="card-group">
                                            <div class="card scroll-card">
                                                <img src="https://www.themoviedb.org/t/p/original/aHwZZTEzJJJxYi8AP6vxNM6x5he.jpg" alt="">
                                                <a href="#" class="stretched-link"></a>
                                                <h6>冰原歷險記</h6>
                                                <p>2002</p>
                                            </div>
                                        </div>
                                        <div class="card-group">
                                            <div class="card scroll-card">
                                                <img src="/Flask/homepage/img/AIClass.png" alt="">
                                                <a href="aiclass.html" class="stretched-link"></a>
                                                <h6>Issac</h6>
                                                <p>2022</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
        
                        </div>

                    </div>

                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; TUDUM 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

        <!-- Sidebar -->

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="indexuser.html">
                <div class="sidebar-brand-text mx-2">TUDUM</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - User Information -->
            <form action="/profile">
                <button>
                    <div>
                        <img class="img-profile rounded-circle"
                        src="img/undraw_profile.svg">
                        <h6 id="name" class="d-none d-lg-inline text-gray-100">{{username}}</h6>
                    </div>
                </button>
            </form>       

            
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item justify-content-center">
                <p><a href="/login">會員登入</a></p>
                <a class="nav-link" href="watched.html">
                    <div class="user-list">
                        <span>我看過的電影</span>
                        <h4 id="movie">73{{movie}}</h4>
                    </div>
                </a>
                
                <a class="nav-link" href="comment.html">
                    <div class="user-list">
                        <span>我的評論</span>
                        <h4 id="comment">15{{comment}}</h4>
                    </div>
                </a>

                <a class="nav-link" href="list.html">
                    <div class="user-list">
                        <span>我的片單</span>
                        <h4 id="list">23{{list}}</h4>
                    </div>
                </a>

                <a class="nav-link" href="save.html">
                    <div class="user-list">
                        <span>待觀看</span>
                        <h4 id="save">11{{save}}</h4>
                    </div>
                </a>
            </li>
           
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

        </ul>
        <!-- End of Sidebar -->

    </div>
        
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="./assets/js/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="./assets/js/sb-admin-2.min.js"></script>
    <script src="./assets/js/scroll.js"></script>

</body>

</html>