.scroll-wrap {
    display: flex;
    overflow-x: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.card-group {
    padding-left: 15px;
    padding-right: 15px;
}

.scroll-card {
    width: 200px;
    flex-shrink: 0;
}

.scroll-card img {
    width: 100%;
}